# Dependencies
**/node_modules/
**/__pycache__/
**/*.pyc

# Build outputs
**/.next/
**/out/
**/dist/

# Environment
**/.env
!**/.env.example

# IDE
**/.vscode/
**/.idea/

# Python
**/*.egg-info/
**/.pytest_cache/
**/.mypy_cache/

# Alembic
**/alembic/versions/*.pyc
